<mat-toolbar>
    <button mat-button 
            routerLink="/personajes" 
    >
        <mat-icon>recent_actors</mat-icon>
        Personajes
    </button>

    <button mat-button 
            routerLink="/estudiantes">
        <mat-icon>remember_me</mat-icon>
        Estudiantes
    </button>

    <button mat-button 
            routerLink="/profesores"
    >
        <mat-icon>school</mat-icon>
        Profesores
    </button>
    
    <button mat-button 
            routerLink="/formestudiante"
    >
        <mat-icon>checklist</mat-icon>
        Solicitud Nuevo Estudiantes
    </button>
    
    <button mat-button 
            routerLink="/nuevosestudiantes"
    >
        <mat-icon>format_list_numbered</mat-icon>
        Listado Nuevos Estudiantes
    </button>
        
</mat-toolbar>
  
<router-outlet></router-outlet>




    